{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>

  {% if showForm %}
    {% if userSelected %}
      <form action="/tweets" method="POST">
      <input type="hidden" name="id" value="{{user_id}}">
      <label for="text_field">{{name}}:</label>

    {% else %}
      <form action="/newUser" method="POST">
      <label for="name_field">Name:</label>
      <input type="text" name="name" id="name_field">
      <label for="text_field">Text:</label>
    {% endif %}
  
    <input name="text" type="text" id="text_field" style="width: 350px;" />
    <input type="submit" value="Submit" />
  </form>
{% endif %}

  <div class="row">
    <div class="col-md-3">
      {% if userSelected %}
      <img src="{{tweets[0].picture_url}}">
      {% else %}
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>      
      {% endif %}
      100 followers
    </div>
    <div class="col-md-9">
    <ul id='tweetList'>
      <!-- display tweets here -->
      {% for tweet in tweets %}
      
        <li id="{{tweet.tweet_id}}">
            <img class="tweet-image" src="{{tweet.picture_url}}">
            <a href="/users/{{tweet.name}}">{{tweet.name}}</a> -  <a href="/showTweet/{{tweet.tweet_id}}" >{{tweet.content}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
    
{% endblock %}